<div class="well">
  <form role="form" ng-submit="apply()">
    <div class="form-group">
      <label for="apply__name">活动名称</label>
      <input type="email" class="form-control" id="apply__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" />
    </div>

    <div class="form-group">
      <label for="apply__username"></label>
      <input type="text" class="form-control" id="apply__username" ng-model="vm.username" placeholder="ex. john" />
    </div>

    <div class="form-group">
      <label for="apply__password">Password</label>
      <input type="password" class="form-control" id="apply__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
    </div>

    <div class="form-group">
      <label for="apply__tags">Tags</label>
      <input type="text" class="form-control" id="apply__tags" ng-model="vm.tags" data-role="tagsinput" />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>