<div>
	<div class="panel panel-default">
		<div class="panel-heading"><i class="fa fa-list-ul"></i> 我的关注</div>
		<div class="panel-body">
			<div class="col-md-2" ng-repeat="user in following">
		    <div class="thumbnail">
		      <img src="/static/img/thumb1.jpg" alt="...">
		      <div class="caption">
		        <a ng-href="/user_info/[[ user.id ]]"><h4>[[ user.name ]]</h4></a>
		        <p><a href="#" ng-click="sendMsgTo(user)" class="btn btn-default" role="button">消息</a> <a href="#" ng-click="change_following(user.id, user.name)" class="follow-btn btn btn-primary" ng-if="login_user && user.id != login_user.id" role="button">[[ F1(user.id) ]]</a></p>
		      </div>
		    </div>
		  </div>
	  </div>
  </div>

	<div class="panel panel-default">
		<div class="panel-heading"><i class="fa fa-users"></i> 关注我的</div>
		<div class="panel-body">
			<div class="col-md-2" ng-repeat="user in follower">
		    <div class="thumbnail">
		      <img src="/static/img/thumb1.jpg" alt="...">
		      <div class="caption">
		        <a ng-href="/user_info/[[ user.id ]]"><h4>[[ user.name ]]</h4></a>
		        <p><a href="#" class="btn btn-default" role="button">消息</a> <a href="#" ng-click="change_following(user.id, user.name)" class="follow-btn btn btn-primary" ng-if="login_user && user.id != login_user.id" role="button">[[ F1(user.id) ]]</a></p>
		      </div>
		    </div>
		  </div>
	  </div>
  </div>
</div>
