<div>
	<div id="search_form" style="position:absolute;top:50%;left:28%;">
		<form role="form" class="form-inline" ng-submit="search()">
		  <div class="form-group">
		    <i class="fa fa-search" style="font-size: 20px;"></i>&nbsp;<input type="text" class="form-control" id="search_content" ng-model="search_content" placeholder="" />
		  </div>
		  <div class="form-group">
	      <button type="submit" id="submit_button" class="btn btn-primary" style="width:100px;">搜索</button>
	    </div>
	  </form>
	</div>

	<div style="height:50px;"></div>

	<div id="result">
		<div class="wall">
			<div class="panel panel-default">
			  <div class="panel-heading">相关的标签</div>
			  <div class="panel-body">
			  	<div style="margin-right:15px;display:inline-block;" ng-repeat="tag in tags" ng-if="tag.name"><a ng-href="/tag_info/[[ tag.name ]]" ><button class="btn btn-primary">[[ tag.name ]] </button></a></div>
			  </div>
		  </div>
		</div>

		<div class="wall">
			<div class="panel panel-default">
			  <div class="panel-heading">相关的活动</div>
			  <ul class="list-group">
					<li class="list-group-item" ng-repeat="act in acts">
					  <div class="thumbnail">
					    <div class="caption">
								<h3><a href="/act_info/[[ act.id ]]">[[ act.name ]]</a> <span href="/act_profile/[[ act.id ]]" style="font-size:10px;cursor:pointer;" ng-if="act.organizer == acts.name"><a> [修改活动信息] </a></span><a ng-href="/user_info/[[ act.organizer.id ]]"><small>[[ act.organizer.name ]]</small></a></h3>
								<div><p style="word-break:break-all;" show-more limit="100" text="'活动介绍:	 ' + act.intro + 'akkakakakk kfjlkda jfkl;d sanovkn qnf;jdf jdaln vkdlns avkld;s jafkl ;dnasv  kdsjal fdjakl;v ndalsk; fdlka sjlk fvdsna vl; dsalfj akkakakakk kfjlkda jfkl;d sanovkn qnf;jdf jdaln vkdlns avkld;s jafkl ;dnasv  kdsjal fdjakl;v ndalsk; fdlka sjlk fvdsna vl; dsalfj akkakakakk kfjlkda jfkl;d sanovkn qnf;jdf jdaln vkdlns avkld;s jafkl ;dnasv  kdsjal fdjakl;v ndalsk; fdlka sjlk fvdsna vl; dsalfj akkakakakk kfjlkda jfkl;d sanovkn qnf;jdf jdaln vkdlns avkld;s jafkl ;dnasv  kdsjal fdjakl;v ndalsk; fdlka sjlk fvdsna vl; dsalfj'"></p></div>
					      <p>活动状态：<span class="label label-[[ L1(act.state) ]]" style="font-size: 16px;">[[ T(act.state) ]]</span><a ng-if="act.organizer.id == acts.login_id && (act.state == 0 || act.state == 1)" href="#" ng-click="U(act)" class="btn btn-[[ L2(act.state) ]]" style="float:right" role="button">[[ B(act.state) ]]</a><a ng-if="act.state == 0" href="#" ng-click="join_act(act)" class="btn btn-danger" style="float:right;margin-right:5px" role="button">申请加入</a></p>
					      <p ng-if="act.tags.length > 1">活动标签：<a ng-repeat="tag in act.tags" ng-href="/tag_info/[[ tag ]]" ng-if="tag" style="margin-right:5px;"><span class="label label-primary">[[ tag ]] </span></a></p>
					    </div>
					  </div>
					</li>
		  	</ul>
		  </div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">相关的用户</div>
			<div class="panel-body">
				<div class="col-md-2" ng-repeat="user in users">
			    <div class="thumbnail">
			      <img src="/static/img/thumb1.jpg" alt="...">
			      <div class="caption">
			        <a ng-href="/user_info/[[ user.id ]]"><h4>[[ user.name ]]</h4></a>
			        <p><a href="#" ng-click="sendMsgTo(user)" class="btn btn-default" role="button">消息</a>
			        <a href="#" ng-click="change_follow(user.id)" class="follow-btn btn btn-primary" ng-if="login_user && user.id != login_user.id" role="button">[[ F(user.id) ]]</a></p>
			      </div>
			    </div>
			  </div>
		  </div>
	  </div>
	</div>
</div>
