<div ng-if="acts.length != 0">
	<div class="col-md-12" ng-repeat="act in acts">
	  <div class="thumbnail">
	    <div class="caption">
				<h3><a href="/act_info/[[ act.id ]]"><i class="fa fa-flag" style="font-size: 20px;"></i> [[ act.name ]]</a> <span href="/act_profile/[[ act.id ]]" style="font-size:10px;cursor:pointer;" ng-if="act.organizer == acts.name"><a> [修改活动信息] </a></span><a ng-href="/user_info/[[ act.organizer.id ]]"><small><i class="fa fa-user"></i> [[ act.organizer.name ]]</small></a></h3>
				<div><p style="word-break:break-all;" show-more limit="100" text="'活动介绍:	 ' + act.intro"></p></div>
	      <p></i> 活动状态：<span class="label label-[[ L1(act.state) ]]" style="font-size: 16px;">[[ T(act.state) ]]</span><button class="btn btn-primary" type="button" ng-if="act.app_count > 0"> 新申请者 <span class="badge">[[ act.app_count ]]</span></button>
	      <a ng-if="act.organizer.id == acts.login_id && (act.state == 0 || act.state == 1)" href="#" ng-click="U(act)" class="btn btn-[[ L2(act.state) ]]" style="float:right" role="button">[[ B(act.state) ]]</a>
	      <a ng-if="act.state == 1" href="#" ng-click="D(act)" class="btn btn-danger" style="float:right;margin-right:5px" role="button">结束活动</a></p>
	      <p ng-if="act.tags.length > 1"><i class="fa fa-tags"></i> 活动标签：<a ng-repeat="tag in act.tags" ng-href="/tag_info/[[ tag ]]" ng-if="tag" style="margin-right:5px;"><span class="label label-primary">[[ tag ]] </span></a></p>
	    </div>
	  </div>
	</div>
</div>
<div ng-if="acts.length == 0">
	<div class="jumbotron">
	  <h1>还没有组织任何活动？</h1>
	  <p>不如...</p>
	  <p><a class="btn btn-primary btn-lg" href="#" ng-click="acts.walk_around()" role="button">去逛逛</a></p>
	</div>
</div>
