<div ng-if="apply_acts_member.length != 0 || join_acts.length != 0">
	<div class="col-md-12" ng-repeat="act in apply_acts_member">
	  <div class="thumbnail" style="background-color:rgba(240, 173, 78, 0.1);">
	    <div class="caption">
	      <h3><a ng-href="/act_info/[[ act.id ]]"><i class="fa fa-flag"></i> [[ act.name ]]</a><span class="label label-default">申请中</span> <a ng-href="/user_info/[[ act.organizer.id ]]"><small><i class="fa fa-user"></i> [[ act.organizer.name ]]</small></a></h3>
	      <div><p style="word-break:break-all;"><strong>活动介绍</strong>：[[ act.intro ]]</p></div>
	      <p><strong>活动状态</strong>：<span class="label label-[[ L1(act.state) ]]" style="font-size: 16px;">[[ T(act.state) ]]</span></p>
	      <p ng-if="act.tags.length > 1"><i class="fa fa-tags"></i> 活动标签：<a ng-repeat="tag in act.tags" ng-href="/tag_info/[[ tag ]]" ng-if="tag" style="margin-right:5px;"><span class="label label-primary">[[ tag ]] </span></a></p>
	    </div>
	  </div>
	</div>
	<div class="col-md-12" ng-repeat="act in join_acts">
	  <div class="thumbnail">
	    <div class="caption">
	      <h3><a ng-href="/act_info/[[ act.id ]]"><i class="fa fa-flag"></i> [[ act.name ]]</a> <a ng-href="/user_info/[[ act.organizer.id ]]"><small><i class="fa fa-user"></i> [[ act.organizer.name ]]</small></a></h3>
	      <div><p style="word-break:break-all;">活动介绍：[[ act.intro ]]</p></div>
	      <p>活动状态：<span class="label label-[[ L1(act.state) ]]" style="font-size: 16px;">[[ T(act.state) ]]</span><a href="#" ng-click="Q(act)" ng-if="act.state == 0 || act.state == 1" class="btn btn-danger" style="float:right" role="button">退出活动</a></p>
	      <p ng-if="act.tags.length > 1"><i class="fa fa-tags"></i> 活动标签：<a ng-repeat="tag in act.tags" ng-href="/tag_info/[[ tag ]]" ng-if="tag" style="margin-right:5px;"><span class="label label-primary">[[ tag ]] </span></a></p>
	    </div>
	  </div>
	</div>
</div>
<div ng-if="apply_acts_member.length == 0 && join_acts.length == 0">
	<div class="jumbotron">
	  <h1>还没有参与任何活动？</h1>
	  <p>不如...</p>
	  <p><a class="btn btn-primary btn-lg" href="#" ng-click="acts.walk_around()" role="button">去逛逛</a></p>
	</div>
</div>
