<link rel="stylesheet" href="/static/css/timetable.css">
<link rel="stylesheet" href="/static/lib/jquery.fileupload-ui.css">
<link rel="stylesheet" href="/static/lib/blueimp-gallery.min.css">
<noscript><link rel="stylesheet" href="/static/lib/jquery.fileupload-ui-noscript.css"></noscript>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Profile</h1>

    <div class="well">
      <form role="form" ng-submit="vm.update_profile()">
        <div class="form-group">
          <label for="register__email">Email</label>
          <input type="email" class="form-control" id="register__email" ng-model="vm.email" />
        </div>

        <div class="form-group">
          <label for="register__username">Username</label>
          <input type="text" class="form-control" id="register__username" ng-model="vm.username" />
        </div>

        <div class="form-group">
          <label for="register__password">Password</label>
          <input type="password" class="form-control" id="register__password" ng-model="vm.password" />
        </div>

        <div class="form-group">
            <label for="register__fixed">Fixed times</label>
              <table class="table table-selectable" id="register__fixed" ng-model="vm.fix_times">
                  <thead>
                      <tr>
                          <th ng-repeat='day in vm.week'>[[ day ]]</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="tr-selectable" ng-repeat='time in vm.times' on-finish-render-filters>
                          <td ng-repeat='n in vm.week track by $index'>[[ time ]]</td>
                      </tr>
                  </tbody>
              </table>
        </div>

        <div class="form-group">
          <label for="register__tags">Tags</label>
          <input type="text" class="form-control" id="profile__tags" ng-model="vm.tags" data-role="tagsinput" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Save change</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/static/lib/jquery.fileupload.js"></script>
<script src="/static/lib/jquery.fileupload-image.js"></script>
<script src="/static/lib/jquery.fileupload-angular.js"></script>
<script src="/static/lib/jquery.fileupload-process.js"></script>
