<link rel="stylesheet" href="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput.css">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>我的资料</h1>

    <div class="well">
      <form role="form" ng-submit="vm.update_profile()">
        <div class="form-group">
          <label for="profile__email">邮箱</label>
          <input type="email" class="form-control" id="profile__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" />
        </div>

        <div class="form-group">
          <label for="profile__username">用户名</label>
          <input type="text" class="form-control" id="profile__username" ng-model="vm.username" placeholder="ex. john" />
        </div>

        <div class="form-group">
          <label for="profile__password">密码</label>
          <input type="password" class="form-control" id="profile__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <label for="profile__password">手机号</label>
          <input type="text" class="form-control" id="profile__cellphone" ng-model="vm.cellphone" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <label for="profile__intro">个人简介</label>
          <textarea style="width:100%" class="form-control" id="profile__intro" ng-model="vm.intro" placeholder="ex. this is not a self-intro"></textarea>
        </div>

        <br />
        <label for="profile__intro">个人简介</label>
        <input type="file" nv-file-select="" uploader="uploader" />

        <div class="form-group">
            <label for="profile__fixed">选择可活动时间</label>
            <table class="table table-selectable" id="profile__fixed" ng-model="vm.fix_times">
                <thead>
                    <tr>
                        <th ng-repeat='day in vm.week'>[[ day ]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-selectable" ng-repeat='time in vm.times' on-finish-render-filters>
                        <td ng-repeat='n in vm.week track by $index'>[[ time ]]</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
          <label for="profile__tags">个人标签</label>
          <input type="text" class="form-control" id="profile__tags" ng-model="vm.tags" data-role="tagsinput" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </form>
    </div>
  </div>
</div>
