<div class="sub_tab wall" id="org_acts_sub_tab">
	<div class="panel panel-default">
		<div class="panel-heading">组织的活动</div>
	 	<ul class="list-group">
			<li class="list-group-item" ng-repeat="act in acts">
			  <div>
					<h4><a ng-href="/act_info/[[ act.act.id ]]">[[ act.act.name ]]</a> <a ng-href="/user_info/[[ act.act.organizer.id ]]"><small>[[ act.act.organizer.name ]]</small></a></h4><p style="float:right;">人数 <span class="badge">[[ act.act.count ]]</span><button ng-click="apply_for(act.act.id)" class="btn btn-primary" type="button">加入活动</button></p>
					<p><span class="label label-[[ L1(act.act.state) ]]" style="font-size: 16px;">[[ T(act.act.state) ]]</span></p>
			  </div>
			</li>
  	</ul>
	</div>
</div>