<link rel="stylesheet" href="/static/css/timetable.css">
<link rel="stylesheet" href="/static/lib/jquery.fileupload-ui.css">
<link rel="stylesheet" href="/static/lib/blueimp-gallery.min.css">
<link rel="stylesheet" href="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput.css">

<script src="/static/lib/jquery.fileupload.js"></script>
<script src="/static/lib/jquery.fileupload-image.js"></script>
<script src="/static/lib/jquery.fileupload-angular.js"></script>
<script src="/static/lib/jquery.fileupload-process.js"></script>

<noscript><link rel="stylesheet" href="/static/lib/jquery.fileupload-ui-noscript.css"></noscript>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>注册</h1>

    <div class="well">
      <form role="form" id="register_form">
        <div class="form-group">
          <label for="register__email">邮箱</label>
          <input type="email" name="email" class="form-control" id="register__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" />
        </div>

        <div class="form-group">
          <label for="register__username">用户名</label>
          <input type="text" name="username" class="form-control" id="register__username" ng-model="vm.username" placeholder="ex. john" />
        </div>

        <div class="form-group">
          <label for="register__password">密码</label>
          <input type="password" name="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <label for="register__cfmpassword">确认密码</label>
          <input type="password" name="cfmpassword" class="form-control" id="register__cfmpassword" ng-model="vm.cfmpassword" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <button type="submit" name="submitButton" class="btn btn-primary">注册</button>
        </div>
      </form>
    </div>

  </div>
</div>
