<link rel="stylesheet" href="/static/css/timetable.css">
<link rel="stylesheet" href="/static/lib/jquery.fileupload-ui.css">
<link rel="stylesheet" href="/static/lib/blueimp-gallery.min.css">
<link rel="stylesheet" href="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput.css">

<script src="/static/lib/jquery.fileupload.js"></script>
<script src="/static/lib/jquery.fileupload-image.js"></script>
<script src="/static/lib/jquery.fileupload-angular.js"></script>
<script src="/static/lib/jquery.fileupload-process.js"></script>

<noscript><link rel="stylesheet" href="/static/lib/jquery.fileupload-ui-noscript.css"></noscript>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>注册</h1>

    <div class="well">
      <form role="form" ng-submit="vm.register()">
        <div class="form-group">
          <label for="register__email">邮箱</label>
          <input type="email" class="form-control" id="register__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" />
        </div>

        <div class="form-group">
          <label for="register__username">用户名</label>
          <input type="text" class="form-control" id="register__username" ng-model="vm.username" placeholder="ex. john" />
        </div>

        <div class="form-group">
          <label for="register__password">密码</label>
          <input type="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <label for="register__password">手机号</label>
          <input type="text" class="form-control" id="register__cellphone" ng-model="vm.cellphone" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <label for="register__intro">个人简介</label>
          <input type="text" class="form-control" id="register__intro" ng-model="vm.intro" placeholder="ex. this is not a self-intro" />
        </div>

        <div class="form-group">
          <label for="register__fixed">选择可活动时间</label>
            <table class="table table-selectable" id="register__fixed" ng-model="vm.fix_times">
                <thead>
                    <tr>
                        <th ng-repeat='day in vm.week'>[[ day ]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-selectable" ng-repeat='time in vm.times' on-finish-render-filters>
                        <td ng-repeat='n in vm.week track by $index'>[[ time ]]</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
          <label for="register__tags">个人标签</label>
          <input type="text" class="form-control" id="register__tags" ng-model="vm.tags" data-role="tagsinput" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">注册</button>
        </div>
      </form>
    </div>

  </div>
</div>
