<link rel="stylesheet" href="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput.css">

<div>
	<div class="col-md-4">
		<br />
		<div class="col-md-8 col-md-offset-3">
			<a href="#" class="thumbnail" style="margin-bottom:0px;">
  	    <img src="/static/img/thumb1.jpg" alt="...">
	    </a>
    </div>
    <div class="col-md-8 col-md-offset-3">
			<h1><i class="fa fa-user"></i> [[ user.name ]]</h1>
			<hr style="margin-top:0px;margin-bottom:10px;" />
			<p><i class="fa fa-envelope" style="font-size: 10px;"></i> 电子邮箱：[[ user.email ]]</p>
			<p><i class="fa fa-mobile"></i> 联系方式：[[ user.cellphone ]]</p>
			<hr style="margin-top:0px;margin-bottom:-5px;" />
			<div class="row" style="text-align:center;">
				<div class="col-md-6">
					<h1>[[ user.admin_acts.length ]]</h1>
					<small> 管理活动 </small>
				</div>
				<div class="col-md-6">
					<h1>[[ user.join_acts.length ]]</h1>
					<small> 参与活动 </small>
				</div>
			</div>
			<hr style="margin-top:10px;margin-bottom:10px;" />
			<p ng-if="user.tags.split(',').length"><i class="fa fa-tags"></i> 用户标签：<br /><a ng-repeat="tag in user.tags.split(',')" ng-href="/tag_info/[[ tag ]]" ng-if="tag" style="margin:3px;"><span class="label label-primary">[[ tag ]] </span></a></p>
		</div>
	</div>
	<div class="col-md-8">
		<div>
			<ul class="nav nav-tabs">
			  <li role="presentation" class="profile-tab" id="overview_tab"><a href="#" ng-click="overview()">概况</a></li>
			  <li role="presentation" class="profile-tab" id="org_acts_tab"><a href="#" ng-click="org_acts_view()">组织的活动</a></li>
			  <li role="presentation" class="profile-tab" id="join_acts_tab"><a href="#" ng-click="join_acts_view()">参与的活动</a></li>
			</ul>
			<br />

			<div class="sub_tab wall" id="overview_sub_tab" style="display:none;">
				<div class="panel panel-default">
				  <div class="panel-heading"><i class="fa fa-database"></i> 积分</div>
				  <div class="panel-body">
						<p>[[ user.score ]]</p>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading"><i class="fa fa-child"></i> 动态</div>
				  <div class="panel-body">
						<p>[[ user.state == "" ? "无最近动态" : user.state ]]</p>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading"><i class="fa fa-book"></i> 简介</div>
				  <div class="panel-body">
				  	<p>[[ user.intro ]]</p>
				  </div>
				</div>
			</div>

			<div class="sub_tab wall" id="org_acts_sub_tab">
				<div class="panel panel-default">
					<div class="panel-heading">组织的活动</div>
				 	<ul class="list-group">
    				<li class="list-group-item" ng-repeat="act in user.admin_acts" ng-if="act.organizer.id == user.id">
						  <div>
								<h4><a ng-href="/act_info/[[ act.id ]]">[[ act.name ]]</a> <a ng-href="/user_info/[[ act.organizer.id ]]"><small>[[ act.organizer.name ]]</small></a></h4><p style="float:right;">人数 <span class="badge">[[ act.count ]]</span><button ng-click="apply_for(act.id)" class="btn btn-primary" type="button">加入活动</button></p>
								<p><span class="label label-[[ L1(act.state) ]]" style="font-size: 16px;">[[ T(act.state) ]]</span></p>
						  </div>
						</li>
			  	</ul>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading">管理的活动</div>
				  <ul class="list-group">
    				<li class="list-group-item" ng-repeat="act in user.admin_acts" ng-if="act.organizer.id != user.id">
						  <div>
								<h4><a ng-href="/act_info/[[ act.id ]]">[[ act.name ]]</a> <a ng-href="/user_info/[[ act.organizer.id ]]"><small>[[ act.organizer.name ]]</small></a></h4><p style="float:right;">人数 <span class="badge">[[ act.count ]]</span></p>
								<p><span class="label label-[[ L1(act.state) ]]" style="font-size: 16px;">[[ T(act.state) ]]</span></p>
						  </div>
						</li>
			  	</ul>
			  </div>
			</div>

			<div class="sub_tab wall" id="join_acts_sub_tab">
				<div class="panel panel-default">
				  <div class="panel-heading">参与的活动</div>
				  <ul class="list-group">
    				<li class="list-group-item" ng-repeat="act in user.join_acts">
						  <div>
								<h4><a ng-href="/act_info/[[ act.id ]]">[[ act.name ]]</a> <a ng-href="/user_info/[[ act.organizer.id ]]"><small>[[ act.organizer.name ]]</small></a></h4><p style="float:right;">人数 <span class="badge">[[ act.count ]]</span></p>
								<p><span class="label label-[[ L1(act.state) ]]" style="font-size: 16px;">[[ T(act.state) ]]</span></p>
						  </div>
						</li>
			  	</ul>
			  </div>
			</div>

		</div>
	</div>
</div>
