<!Doctype html>
<html ng-app='hangout'>
  	<head>
    	<meta charset='utf-8'>
        <title>Hangout!</title>
        <link rel='stylesheet' href='/static/lib/bootstrap.min.js' />
        <link rel='stylesheet' href='/static/lib/font-awesome-4.6.3/css/font-awesome.min.css' />
        <script src='/static/lib/angular.min.js'></script>
    </head>
    <body style='margin:0px'>

    {% include 'header.html' %}
                 
    <div></div>

    {% include 'footer.html' %}

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    </body>
</html>
