<!Doctype html>
<html ng-app='hangout'>
  	<head>
    	<meta charset='utf-8'>
        <title>Hangout!</title>
        <base href='/' />
        <link rel="stylesheet" href='/static/css/stylesheet.css' />
        <link rel="stylesheet" href='/static/lib/validator/bootstrapValidator.css' />
        <link rel='stylesheet' href='/static/lib/bootstrap.min.css' />
        <link rel='stylesheet' href='/static/lib/share/css/share.min.css' />
        <link rel='stylesheet' href='/static/lib/font-awesome-4.6.3/css/font-awesome.min.css' />
        <link rel='stylesheet' href='/static/lib/notification/notification-icon.css' />
        <script src='/static/lib/angular.min.js'></script>
        <script src="/static/lib/angular-route.min.js"></script>
        <script src="/static/lib/angular-cookies.min.js"></script>
        <script src="/static/lib/jquery-1.11.0.min.js"></script>
        <script src="/static/lib/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">

            <nav class="navbar navbar-default" ng-controller='navbarCtrl'>
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">首页</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li id="nav_activity"><a href='#' ng-click="activity()"> 我的活动 </a></li>
                            <li id="nav_friends"><a href='#' ng-click="friends()"> 我的关注 </a></li>
                            <li id="nav_register"><a href='#' ng-click="register()">[[ displayName ]]</a></li>
                            <li id="nav_user" class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[ displayName ]] <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="/user_info/[[ login_id ]]">查看资料</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/profile">修改资料</a></li>
                              </ul>
                            </li>
                            <li><a href='#' ng-click="login_logout()">[[ logger ]]</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="main-container" ng-view></div>

            <back-to-top></back-to-top>

        </div>


        <div id="message-list" style="width:400px;position:fixed;right:10px;bottom:95px;" ng-controller="msgBoxCtrl">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="msg in msgs"><div ng-bind-html='msg'></div></li>
            <li class="list-group-item">
              <form class="form-inline" ng-submit="send_message()">
                <div class="form-group">
                  <label for="send_message" class="sr-only">发送给</label>
                  <input type="text" class="form-control" id="send_message" ng-model="msg_content" placeholder="ex. hi! how are u!" style="width:300px;" />
                </div>
                <button type="submit" class="btn btn-primary">发送</button>
              </form>
            </li>
          </ul>
        </div>

        <div style="display:none;position:fixed;right:10px;bottom:40px;" id="message-box" class="well well-sm">
          <notification-icon count="messageCount">
            <i class="fa fa-envelope-o fa-2x"></i>
          </notification-icon>
        </div>

    {% include 'footer.html' %}

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/directives.js"></script>
    <script src="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput-angular.js"></script>
    <script src="/static/lib/validator/bootstrapValidator.js"></script>
    <script src="/static/lib/notification/notification-icon.js"></script>
    <script src="/static/lib/notification/angular-animate.js"></script>
    <script src="/static/lib/moment.min.js"></script>
    <script src="/static/lib/combodate.js"></script>
    <script src="/static/lib/share/js/jquery.share.min.js"></script>

    </body>
</html>
